<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CCDataImportTool.Properties.Settings.Acom_Cvty_Test2ConnectionString"
            connectionString="Data Source=IcmTstDb2.cci.caldsaas.local\tst2;Initial Catalog=Acom_Cvty_Test2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CCDataImportTool.Properties.Settings.masterConnectionString"
            connectionString="Data Source=IcmTstDb2.cci.caldsaas.local\tst2;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CCDataImportTool.Properties.Settings.msdbConnectionString"
            connectionString="Data Source=IcmTstDb2.cci.caldsaas.local\tst2;Initial Catalog=msdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>